<div class="row">
  <div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">×</a>
    <label><input class="filter" type="checkbox" value="Automotive" name="automotive" data-md-icheck (change)="changeFilterTags($event)"> Automotive</label><br>
    <label><input class="filter" type="checkbox" value="Books" name="books" data-md-icheck (change)="changeFilterTags($event)"> Books</label><br>
    <label><input class="filter" type="checkbox" value="Clothing" name="clothing" data-md-icheck (change)="changeFilterTags($event)"> Clothing</label><br>
    <label><input class="filter" type="checkbox" value="Electronics" name="electronics" data-md-icheck (change)="changeFilterTags($event)"> Electronics</label><br>
    <label><input class="filter" type="checkbox" value="Jewelry" name="jewelry" data-md-icheck (change)="changeFilterTags($event)"> Jewelry</label><br>
    <label><input class="filter" type="checkbox" value="Kitchen" name="kitchen" data-md-icheck (change)="changeFilterTags($event)"> Kitchen</label><br>
    <label><input class="filter" type="checkbox" value="Movies" name="movies" data-md-icheck (change)="changeFilterTags($event)"> Movies</label><br>
    <label><input class="filter" type="checkbox" value="Music" name="music" data-md-icheck (change)="changeFilterTags($event)"> Music</label><br>
    <label><input class="filter" type="checkbox" value="Sports" name="sports" data-md-icheck (change)="changeFilterTags($event)"> Sports</label><br>
  </div>
  <div id="main" class="col">
    <button class="btn btn-dark" (click)="openNav()">&#9776; Add Filters</button>
    <form class="mb-2" [formGroup]="searchForm" (submit)="onSearch()">
      <div class="row">
        <div class="col">
          <div class="input-group">
            <input type="text" class="form-control" id="search" placeholder="Search" formControlName="search">
            <div class="input-group-append">
              <button class="btn btn-outline-primary" type="submit">Search</button>
              <button class="btn btn-outline-secondary" type="button" (click)="clearSearch()">Clear</button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div *ngIf="filterTags.length == 0">
      <div class="row card-group mb-4">
        <div class="col-sm-4" *ngFor="let item of auctionItems" style="margin-bottom:10px">
          <div class="card card-default" style="width: 100%;">
            <img [attr.src]="item.imageUrl" class="card-img-top auction-image" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ item.name }}</h5>
              <p class="card-text">Current Bid: {{ item.currentBid }}</p>
              <p class="card-text">User: {{ item.currentHighestBidderEmail }}</p>
              <p class="card-text">Remaining Time:
                <span *ngIf="item.auctionDays > 1.0"> {{ item.auctionDays.toFixed() }} days</span>
                <span *ngIf="item.auctionDays <= 1.0"> Ending Soon!</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="filterTags.length > 0">
      <div class="row card-group mb-4">
        <div class="col-sm-4" *ngFor="let item of filteredItems" style="margin-bottom:10px">
          <div class="card card-default" style="width: 100%;">
            <img [attr.src]="item.imageUrl" class="card-img-top auction-image" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ item.name }}</h5>
              <p class="card-text">Current Bid: {{ item.currentBid }}</p>
              <p class="card-text">User: {{ item.currentHighestBidderEmail }}</p>
              <p class="card-text">Remaining Time:
                <span *ngIf="item.auctionDays > 1.0"> {{ item.auctionDays.toFixed() }} days</span>
                <span *ngIf="item.auctionDays <= 1.0"> Ending Soon!</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="noSearchResults" class="row">
      <div class="col-12 text-center">
        <h4>No Results</h4>
      </div>
    </div>
  </div>
</div>
