<h1 mat-dialog-title>Add Item</h1>
<form  #dialogForm="ngForm">
  <div mat-dialog-content>
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Item Name</mat-label>
        <input id="dialog-name" matInput [(ngModel)]="data.name" name="name" required>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Buyout Price</mat-label>
        <input id="dialog-bid" matInput type="number" [(ngModel)]="data.buyoutPrice" class="right-align" name="bid" required>
        <span matPrefix>$&nbsp;</span>
        <span matSuffix>.00</span>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Auction End Time</mat-label>
        <input id="dialog-time" [min]="min" matInput [owlDateTime]="dtend" [owlDateTimeTrigger]="dtend" placeholder="MM/DD/YY HH:MM AM/PM" [(ngModel)]="data.endTime" name="end" required>
        <owl-date-time #dtend></owl-date-time>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Upload Image</mat-label>
        <input id="dialog-image" matInput [(ngModel)]="data.imageUrl" name="imageUrl" placeholder="Image URL" required>
      </mat-form-field>
    </div>
    <div class="tags">
      <p>Select auction tags...</p>
      <mat-checkbox [(ngModel)]="data.automotive" value="automotive" name="automotive">Automotive</mat-checkbox><br>
      <mat-checkbox [(ngModel)]="data.books" value="books" name="books">Books</mat-checkbox><br>
      <mat-checkbox [(ngModel)]="data.clothing" value="clothing" name="clothing">Clothing</mat-checkbox><br>
      <mat-checkbox [(ngModel)]="data.electronics" value="electronics" name="electronics">Electronics</mat-checkbox><br>
      <mat-checkbox [(ngModel)]="data.kitchen" value="kitchen" name="kitchen">Kitchen</mat-checkbox><br>
      <mat-checkbox [(ngModel)]="data.music" value="music" name="music">Music</mat-checkbox><br>
      <mat-checkbox [(ngModel)]="data.sports" value="sports" name="sports">Sports</mat-checkbox><br>
    </div>
  </div>
  <div mat-dialog-actions>
    <button class="btn btn-secondary mr-sm-2" (click)="onNoClick()">Cancel</button>
    <button id="dialog-submit" class="btn btn-primary mr-sm-2" [mat-dialog-close]="data" [disabled]="!dialogForm.form.valid">Add</button>
  </div>
</form>
