<div class="row mb-4">
  <div class="col-sm-8 offset-2 text-center">
    <h5>Your Auction Items</h5>
  </div>
  <div class="col-sm-2">
    <button class="btn btn-danger float-right" (click)="openDialog()">+ Add Item</button>
  </div>
</div>
<div class="row card-group mb-4" >
  <div *ngFor="let item of auctionItems" class="col-sm-4" style="margin-bottom:10px">
    <div class="card bg-danger text-white" style="width: 100%;">
      <img [attr.src]="item.imageUrl" class="card-img-top auction-image" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ item.name }}</h5>
        <p class="card-text">{{item.winnerEmail ? 'Final Price' : 'Current Bid'}}: ${{ item.currentBid }}</p>
        <p class="card-text">Bidder: {{ item.currentHighestBidderEmail ? item.currentHighestBidderEmail : 'N/A' }}</p>
        <p *ngIf="!item.winnerEmail; else endedAuction" class="card-text">Remaining Time:
          <span *ngIf="item.auctionDays > 1.0"> {{ item.auctionDays.toFixed() }} days</span>
          <span *ngIf="item.auctionDays <= 1.0 && item.auctionDays > 0"> Ending Soon!</span>
          <span *ngIf="item.auctionDays < 0">Auction Ended</span>
        </p>
        <ng-template #endedAuction>
          <p class="card-text">Remaining Time: Auction Ended</p>
        </ng-template>
      </div>
    </div>
  </div>
</div>
